version: 2
updates:
    - package-ecosystem: github-actions
      commit-message:
          include: scope
          prefix: build
      directory: /
      ignore:
          - dependency-name: "actions/*"
            update-types:
                ["version-update:semver-minor", "version-update:semver-patch"]
          - dependency-name: "GoogleCloudPlatform/release-please-action"
            update-types:
                ["version-update:semver-minor", "version-update:semver-patch"]
      schedule:
          interval: monthly
      open-pull-requests-limit: 25

    - package-ecosystem: npm
      commit-message:
          include: scope
          prefix: build
      directory: /
      schedule:
          interval: monthly
      open-pull-requests-limit: 25
