root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Prettier will use these settings
end_of_line = lf
indent_style = tab
indent_size = 4
max_line_length = 80

[*.{css,html,scss}]
max_line_length = 120

[*.{yaml,yml}]
indent_style = space
