{
	"arrowParens": "always",
	"endOfLine": "lf",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.css", "*.html", "*.scss"],
			"options": {
				"bracketSameLine": true,
				"printWidth": 120
			}
		}
	]
}
