name: CD

on:
    release:
        # This specifies that the build will be triggered when we publish a release
        types: [published]

jobs:
    build:
        name: Publish to NPM
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: actions/setup-node@v2.1.5
              with:
                  node-version: 14
                  registry-url: https://registry.npmjs.org/
            - run: npm publish --ignore-scripts
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
