name: CD

on:
    release:
        # This specifies that the build will be triggered when we publish a release
        types: [published]

jobs:
    build:
        name: Publish to NPM
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14.x
                  registry-url: https://registry.npmjs.org/
            - run: yarn install
            - run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
