name: CD

# **What it does**: Automatically generates releases and release notes.
# **Why we have it**: Allows development to focus on higher value work.

on:
    push:
        branches:
            - main
    # Allows this workflow to be run manually from the Actions tab
    workflow_dispatch:

permissions:
    contents: read

jobs:
    release:
        name: Create/Update Release Pull Request
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: write
        outputs:
            release_created: ${{ steps.release.outputs.release_created }}
        steps:
            - name: Release Please
              id: release
              uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
              with:
                  config-file: .github/release-please/config.json
                  manifest-file: .github/release-please/manifest.json

    publish-npm:
        name: Publish to NPM
        needs: release
        if: needs.release.outputs.release_created == 'true'
        runs-on: ubuntu-latest
        environment: main
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Check out repo
              uses: actions/checkout@v5
              with:
                  persist-credentials: false

            - name: Setup Node
              uses: actions/setup-node@v5
              with:
                  check-latest: true
                  node-version: lts/*
                  package-manager-cache: false
                  registry-url: https://registry.npmjs.org

            - name: Publish to NPM
              # Build docs/definitions, and remove dev values
              # from package.json before publishing to reduce package size
              run: |
                  npm i -g npm@latest
                  npm i --ignore-scripts
                  npm run build --if-present
                  npm pkg delete commitlint devDependencies jest scripts
                  npm publish --access public --ignore-scripts

    publish-ghp:
        name: Publish to GitHub Packages
        needs: release
        if: needs.release.outputs.release_created == 'true'
        runs-on: ubuntu-latest
        environment: main
        env:
            SCOPE: "@fdawgs"
        permissions:
            contents: read
            id-token: write
            packages: write
        steps:
            - name: Check out repo
              uses: actions/checkout@v5
              with:
                  persist-credentials: false

            - name: Setup Node
              uses: actions/setup-node@v5
              with:
                  check-latest: true
                  node-version: lts/*
                  package-manager-cache: false
                  registry-url: https://npm.pkg.github.com
                  scope: ${{ env.SCOPE }}

            - name: Scope package
              run: |
                  pkgName=$(node -p "require('./package.json').name")
                  if ! echo "$pkgName" | grep -q "^${SCOPE}/"; then
                  npm pkg set name="${SCOPE}/$pkgName"
                  fi

            - name: Publish to GitHub Packages
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              # Build docs/definitions, and remove dev values
              # from package.json before publishing to reduce package size
              run: |
                  npm i -g npm@latest
                  npm i --ignore-scripts
                  npm run build --if-present
                  npm pkg delete commitlint devDependencies jest scripts
                  npm publish --access public --ignore-scripts --provenance
