name: Check Markdown for Broken Links

# **What it does**: Checks all links in markdown files, apart from links to repo commits and issues.
# **Why we have it**: We want to know if any links break.

on:
    push:
        branches:
            - main
        paths:
            - "**/*.md"
            - "!CHANGELOG.md"
    pull_request:
        branches:
            - main
        paths:
            - "**/*.md"
            - "!CHANGELOG.md"
        types: [opened, ready_for_review, reopened, synchronize]
    schedule:
        #        ┌───────────── minute (0 - 59)
        #        │  ┌───────────── hour (0 - 23)
        #        │  │ ┌───────────── day of the month (1 - 31)
        #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        *  * * * *
        - cron: "30 1 1 * *"
    # Allows this workflow to be run manually from the Actions tab
    workflow_dispatch:

concurrency:
    group: link-check

permissions:
    contents: read

jobs:
    link-check:
        name: Link Check
        permissions:
            contents: read
        uses: fdawgs/workflows/.github/workflows/reusable-link-check.yml@v2
