name: Check Markdown for Broken Links

on:
    push:
        paths:
            - "**/*.md"
    pull_request:
        paths:
            - "**/*.md"
    schedule:
        #        ┌───────────── minute (0 - 59)
        #        │  ┌───────────── hour (0 - 23)
        #        │  │ ┌───────────── day of the month (1 - 31)
        #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        *  * * * *
        - cron: "30 1 * * *"
    # Allows this workflow to be run manually from the Actions tab
    workflow_dispatch:

jobs:
    link-check:
        name: Link Check
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: actions/setup-node@v2.1.5
              with:
                  node-version: 14.x
            - name: Run Linkinator
              run: npx linkinator '{,!(node_modules)/**/}*.md' --skip 'https://github.com/Fdawgs/.*/(commit|issues)/, http://0.0.0.0'
