name: Check Markdown for Broken Links

# **What it does**: Checks all links in markdown files, apart from links to repo commits and issues.
# **Why we have it**: We want to know if any links break.

on:
    push:
        branches:
            - main
        paths:
            - "**/*.md"
            - "!CHANGELOG.md"
    pull_request:
        branches:
            - main
        paths:
            - "**/*.md"
            - "!CHANGELOG.md"
        types: [opened, ready_for_review, reopened, synchronize]
    schedule:
        #        ┌───────────── minute (0 - 59)
        #        │  ┌───────────── hour (0 - 23)
        #        │  │ ┌───────────── day of the month (1 - 31)
        #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        *  * * * *
        - cron: "30 1 1 * *"
    # Allows this workflow to be run manually from the Actions tab
    workflow_dispatch:

jobs:
    link-check:
        name: Link Check
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Check out repo
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  persist-credentials: false

            - name: Run Linkinator
              uses: JustinBeckwith/linkinator-action@3d5ba091319fa7b0ac14703761eebb7d100e6f6d # v1.11.0
              with:
                  paths: "**/*.md"
                  skip: "https://(?:www.|)github.com/Fdawgs/.*/(?:commit|issues|compare)/, http://0.0.0.0"
