name: Lock Threads

# **What it does**: Automatically locks inactive issues and pull requests.
# **Why we have it**: Helps maintainers manage repository activity and reduce clutter.

on:
    schedule:
        #        ┌───────────── minute (0 - 59)
        #        │  ┌───────────── hour (0 - 23)
        #        │  │ ┌───────────── day of the month (1 - 31)
        #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        │  │ │ │ │
        #        *  * * * *
        - cron: "30 1 * * *"
    # Allows this workflow to be run manually from the Actions tab
    workflow_dispatch:

concurrency:
    group: lock-threads

permissions:
    contents: read

jobs:
    lock-threads:
        permissions:
            issues: write
            pull-requests: write
        uses: fdawgs/workflows/.github/workflows/shared-lock-threads.yml@v1
